@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-0 dark:bg-gray-900;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Thin.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Thin.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-ThinItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Light.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Light.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-LightItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-LightItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Italic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Italic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Medium.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-MediumItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Bold.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-BoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Black.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter/Inter-BlackItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-ExtraLight.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-ExtraLight.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-ExtraLightIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-ExtraLightIt.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Light.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Light.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Light.otf") format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-LightIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-LightIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-LightIt.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Regular.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Regular.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Regular.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-It.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-It.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-It.otf") format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-It.ttf") format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Medium.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Medium.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Medium.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-MediumIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-MediumIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-MediumIt.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Semibold.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Semibold.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Semibold.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-SemiboldIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-SemiboldIt.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Bold.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Bold.otf") format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-BoldIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-BoldIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-BoldIt.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-Black.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-Black.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-Black.otf") format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-Black.ttf") format("truetype");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceCodePro/WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2")
        format("woff2"),
      url("/fonts/SourceCodePro/WOFF/OTF/SourceCodePro-BlackIt.otf.woff")
        format("woff"),
      url("/fonts/SourceCodePro/OTF/SourceCodePro-BlackIt.otf")
        format("opentype"),
      url("/fonts/SourceCodePro/TTF/SourceCodePro-BlackIt.ttf")
        format("truetype");
  }
}

@layer utilities {
  .c-shadow-modal {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
